@model Hospital_Management.Models.Doctor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section admin_navbar{
    @Html.Partial("_AdminNavbarPartial", "Doctors")
}

@*<a href="@Url.Action("Create", "Doctor")" class="btn btn-success" style="float:right">
    <span class="glyphicon glyphicon-plus"></span>
    Create New
</a>

@using (Html.BeginForm("Index2", "Doctor", FormMethod.Post))
{
    <div class="input-group">
        @Html.DropDownListFor(model => model.dept, new SelectList(Model.getAllDepartmentsName, "Text", "Text"), "-Select Department-", new { @class = "form-control btn btn-info" })

        <br /><br />
        <input type="submit" value="search" />
    </div>
}*@

@using (Html.BeginForm("Index2", "Doctor", FormMethod.Post))
{

    <div class="input-group">
        <a href="@Url.Action("Create", "Doctor")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Create New
        </a>
        @Html.DropDownListFor(model => model.dept, new SelectList(Model.getAllDepartmentsName, "Text", "Text"), "-Select Department-", new { @class = "form-control btn btn-primary", style = "float:right;" })

        <span class="input-group-btn">
            <input type="submit" value="search" class="btn btn-info" />
        </span>
    </div>

}
@*<form action="Index2" method="post">

        <select name="dept">
            @foreach (var department in Model.getAllDepartmentsName)
            {
                <option value="@department.Text">@department.Text</option>
            }
        </select>
        <input type="submit" value="search"/>
    </form>*@



<br /><br />
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AllDoctorList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_no)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" width="70" height="60" />
            </td>
            <td>
                <a href="@Url.Action("Edit", "Doctor", new { id = item.id })" class="btn btn-success">
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                </a>
                <a href="@Url.Action("Details", "Doctor", new { id = item.id })" class="btn btn-success">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Details
                </a>
                <a href="@Url.Action("Delete", "Doctor", new { id = item.id })" class="btn btn-success">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                </a>
                @*<p class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(" Edit", "Edit", new { id = item.id }, new { Style = "color:white" }) </p>*@
                @*<p class="btn btn-success"><span class="glyphicon glyphicon-th-list"></span>@Html.ActionLink(" Details", "Details", new { id = item.id }, new { Style = "color:white" }) </p>*@
                @*<p class="btn btn-success"><span class="glyphicon glyphicon-trash"></span>@Html.ActionLink(" Delete", "Delete", new { id = item.id }, new { Style = "color:white" }) </p>*@
            </td>
        </tr>
    }

</table>

